.team-select-page {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.team-select-page h1 {
	margin-bottom: 60px;
}

.teams-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 1450px) {
	.teams-container {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 1200px) {
	.teams-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 900px) {
	.teams-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.teams-container {
		grid-template-columns: repeat(1, 1fr);
	}
}
